*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 60%;
    height: 500px;
    margin:auto;
    margin-top: 13px;
    box-shadow: 0px 0px 3px gray;
    position: relative;
    overflow: hidden;
}

.btn{
    margin-top: 20px;
    text-align: center;
}

.slide{
    width:100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

.para{
    text-align: center;
}

.p2{
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}  

.card-container{
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    margin-left: 450px;
    margin-top: 15px;
    padding: auto;
}

.card-body{
    border: 2px !important;
    width: calc(33.33% - 5px); 
    margin: 5px;

}

.card:hover{
    box-shadow: 0px 0px 3px green !important;
    text-align: justify;
}

.tech{
    margin-top: 30px;
    font-size: larger;
    color: brown;
    text-align: center;
}