*{
    box-sizing: border-box;
}
.title{
    text-align: center;
}
.input {
    text-align: center;
    border-bottom: 5px red;
}
.table td ul li{
    list-style:none;
    text-align: center;
    margin-bottom: 25px;
} 
ul{
    list-style-type: none;
}
table, th, td{
   
    border: 1px solid black;
    margin-top: 15px;
}
.formContainer{
    display: flex;
}
