*{
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.form{
    text-align: center;
    // border: 3px solid black;
}

.i1 input, .i2 input, .i3 input,
.i4 input, .i5 input, .i6 input {
    border: 2px solid green;
    padding-bottom: 15px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 5px;
    border-radius: 6px;

}

.btn button{
    color: black;
    background-color: rgb(27, 235, 27);
    border-radius: 8px;
}

.i1 label, .i2 label, .i3 label,
.i4 label, .i5 label, .i6 label {
    color: green;
    margin-left: -100px;
    text-align: center;
}